@font-face {
    font-family: 'fontGame';
    src: url('./Pony.ttf');
}

.bookingMovie{
    font-family: 'fontGame';
}


.ghe{
    border: 3px solid orange;
    width: 45px;
    height: 35px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.rowNumber{
    font-size: 25px;
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
    
}
.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;
}

.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:80%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}

.screen::after{
    content: "MÀN HÌNH";
    position:absolute;
    left: 45%;
    top: 100%;
    color: black;
}

.gheDuocChon {
    border: 3px solid orange;

    background: orange;
    color: #000;

    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;

}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;

    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;

}

.background {
    background-image: url(./bgmovie.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
}

.seat-selection-background {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    width: 50vw;
    height: 90vh;
    position: absolute;
    left: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-map {
    width: 80%;
}

.table-background {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    position: absolute;
    right: 50px;
    top: 50px;
    width: 40vw;
    height: 80vh;
}